
<p>
  <strong>Comment:</strong>
<br>  <%= current_user.name %> </br>
<br> <%= current_user.email  %> </br>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
